<div class="dashboard">
  {{#if layout.outsideElement}}
    {{#-in-element layout.outsideElement}}
      <promotion-banner class="w-100" showToggle="true" />
    {{/-in-element}}
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-12">
      <DashboardMetricsCard />
      <h4 class="my-5">Continue where you left</h4>
      <div class="row">
        <div class="col-12">
          <DashboardDcbCard />
        </div>
      </div>
      <RegisteredContestsView
        @rowComponent="registered-contests-view/contest-row" />
      <BookmarkedProblemsView />
    </div>
    <div class="col-md-4 col-12">
      {{!-- Performance Graph Card to be placed here --}}
      <div class="border-card p-5 mb-5 mt-md-0 mt-5">
        <div class="row mx-0 justify-content-between align-items-center">
          <h4>Performance Graph</h4>
          <div class="card-md">Past 6 Months</div>
        </div>
        <div class="bg-grey mt-4">
          <DashboardPerformanceGraph />
        </div>
      </div>
      <OverallLeaderboardView />
    </div>
  </div>

  <DashboardPracticeView class="mb-5" />
  
</div>

