<div class="row font-xs bold mx-0">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @crumbClass="px-3" />
</div>
<div class="mb-5">
  <CompetitionView
    @onParticipate={{action "onParticipate"}}
    @competition={{competition}} />
</div>