<div class="pt-5">
  <div class="row">
    {{#each admission_contests as |contest|}}
      <ContestCard
        @contest={{contest.contest}}>
        <RegisterButton 
          @contestTypeModel={{contest}} 
          @route='contests.admission.contest' />
      </ContestCard>
    {{/each}}
  </div>
</div>
