@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";
@import "./components/drag-drop.scss";

body{
  padding-top: 62px;
}

.ember-modal-dialog {
  padding: 0px;
  border-radius: 15px;
  box-shadow: none;
}

.ember-modal-overlay {
  z-index: 1000;
}

.ember-modal-overlay.translucent {
  background-color: rgba(27, 30, 38, 0.93)
}

.monaco-editor, .monaco-editor * {
  width: 100%;
  height: 100%;
  border: none;
}

.code-editor--height{
  height: 700px;
}

.submission-window {
  max-height: 60vh;
}

.tab-nav-underline {
  z-index: 1;
}

.q1{
  background-color: #f3f3f3 !important;
  fill: #f3f3f3 !important;
}

.q2{
    background-color: #f1be33 !important;
  fill: #f1be33 !important;
}

.q3{
    background-color: #f19633 !important;
  fill: #f19633 !important;
}

.q4{
    background-color: #ec6333 !important;
  fill: #ec6333 !important;
}

.q5{
    background-color: #e63030 !important;
  fill: #e63030 !important;
}


/* MOVE TO MOTLEY */
.w-250x {
  width: 250%;
}

.w-300x {
  width: 300%;
}

.w-350x {
  width: 350%;
}

.l-center {
  left: -50%;
}

.top-left {
  top: 0;
  left: 0;
}

.border-dark-pink {
  border: solid 2px #f24f5f;
}

.border-green {
  border: solid 2px #2cc528;
}

.red {
  color: #f24f5f !important;
}

.code-window{
  margin-top: -62px;
}

.submission-status-img{
  height: 170px;
}

.test-info-popup{
  width: 500px;
}

.b-orange-hover:hover  {
  border-color: #fd7e14 !important
}

.options {
  grid-template-columns: repeat(4, 1fr) !important;

  .circle {
    height: 50px;
    width: 50px;
    background-color: #1b1e26;
  }
}

.code-window__question-area {
  padding-bottom: 135px !important;
}

#web-challenge-output {
  height: 400px;
}

.dot-loader::before{
  animation: dots 3s linear infinite;
  content: '';
}

.font-xxs {
  font-size: 0.8rem;
}

/* Navbar */

.navbar {
  background: #15171e;
  color: white;
}

.navbar a {
  display: block;
  color: white;
}

.navbar span {
  display: block;
}

.navbar li img {
  height: 24px;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
  /* align-items: center; */
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 15px 25px;
  text-align: center;
}

.nav-menu li:hover {
  position: relative;
  background: #1a1c25;
}

.nav-menu .active {
  background: #1a1c25;
}

.nav-menu .active::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  width: 100%;
  left: 0;
  background: linear-gradient(90deg, #838281 0%, #ffba08 100%);
}

/* Button */
.button-solid-orange {
  margin-left: 25px;
  background: linear-gradient(90deg, #f26a3e 0%, #fb8133 100%);
  border-radius: 5px;
  color: #fff;
  padding: 9px 25px 10px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 0;
  font-weight: normal;
}

.button-solid-orange:hover {
  background-position: 100%;
  color: #fff;
}

@media (max-width: 991px) {
  .button-solid-orange {
    margin: 0;
    padding: 4px 10px 5px 10px;
  }
}


/*-------------------Custom------------------*/
.logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo a {
  color: #fff;
}

.logo img {
  max-height: 56px;
}

.tooltip {
  padding: 3px;
  border: solid 1px black;
  background: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  z-index: 100;
  font-size: 0.7em;
}

.pulse-red {
  animation: pulse-animation-red 2s infinite;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 500;
  width: 100vw;
}

.question-child {
  display: none;
}

.question-parent:hover .question-child {
  display: inline-block;
}

// Animations

@keyframes dots {
  25% {content: '.'}
  50% { content: '..'}
  75% {content: '...'}
  100% { content: ''}
}

@keyframes pulse-animation-red {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 90, 1, 0.973);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(167, 89, 47, 0.032);
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  pointer-events: none; 
}