@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";
@import "jotted.css";

body{
  padding-top: 62px;
}

.ember-modal-dialog {
  padding: 0px;
  border-radius: 15px;
  box-shadow: none;
}

.ember-modal-overlay {
  z-index: 1000;
}

.ember-modal-overlay.translucent {
  background-color: rgba(27, 30, 38, 0.93)
}

.monaco-editor, .monaco-editor * {
  width: 100%;
  height: 100%;
  border: none;
}

.code-editor--height{
  height: 700px;
}

.submission-window {
  max-height: 60vh;
}

.tab-nav-underline {
  z-index: 1;
}

.q1{
  background-color: #f3f3f3 !important;
  fill: #f3f3f3 !important;
}

.q2{
    background-color: #f1be33 !important;
  fill: #f1be33 !important;
}

.q3{
    background-color: #f19633 !important;
  fill: #f19633 !important;
}

.q4{
    background-color: #ec6333 !important;
  fill: #ec6333 !important;
}

.q5{
    background-color: #e63030 !important;
  fill: #e63030 !important;
}


/* MOVE TO MOTLEY */
.code-window{
  margin-top: -62px;
}