language: node_js
node_js:
  - '10'
sudo: false
dist: trusty
cache:
  yarn: true
  directories:
  - "$HOME/.npm"
env:
  global:
    - JOBS=1
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn install --non-interactive

before_script:
  - openssl aes-256-cbc -K $encrypted_d0526deaa479_key -iv $encrypted_d0526deaa479_iv -in key.enc -out key.pem -d
  - rm -rf dist/
  - ember build --env production

script: 
  - if [ "$TRAVIS_BRANCH" = "master" ]; then bash ./deployToProduction.sh; fi
