{{#each field.options as |option|}}
  <label class="input-checkbox checkbox-solid px-2">
    <input 
      type="radio" 
      name={{field.name}} 
      checked={{eq option.value fieldValue}}
      onchange={{action onUpdate option.value}} /> {{option.name}}
    <span></span>
  </label>
{{/each}}
