<div class="border-card p-5 bookmark mt-5">
  <h4 class="mb-2">Bookmarked Challenges</h4>
  <InputSearch @placeholder="Search bookmarks by name" @q={{q}} />
  <BookmarkedProblemsView::BookmarkedProblemsList @q={{q}} />
</div>