<div class="border-card p-5 bg-gradient-pink white mb-5">
  <div class="row mx-0 justify-content-between align-items-center">
    <div class="col-sm-8 col-12 pl-0">
      <div class="font-mdxl extra-bold">Wrong Answer!</div>
      <div class="card-md bold">
        Sorry Mate! You missed it this time.
      </div>
    </div>
  </div>
  <button class="button-solid button-white mt-sm-0 mt-4 pink">Try Again</button>
</div>