<div class="p-5 bg-gradient-pink white">
  <div class="row mx-0 justify-content-between align-items-center">
    <div class="col-sm-8 col-12 pl-0">
      <div class="font-mdxl extra-bold">Wrong Answer!</div>
      <div class="card-md bold">
        Sorry Mate! You missed it this time.
      </div>
    </div>
  </div>
</div>