<div class="row">
  <div class="col-12 col-md-8">
    <QuizView 
      @contest={{contest}} 
      @content={{content}}
      @quiz={{quiz}} />
  </div>
  <div class="col-12 col-md-4">
    <QuizQuestionsPad>
      <QuestionPill/>
    </QuizQuestionsPad>
  </div>
</div>
