<div class="pt-5">
  <div class="row">
    {{#each admission_contests as |contest|}}
      <div class="col-4">
        <ContestCard
          @contest={{contest.contest}}>
          <RegisterButton 
            @contestTypeModel={{contest}} 
            @route='contests.admission.contest' />
        </ContestCard>
      </div>
    {{/each}}
  </div>
</div>
