<div class="chart-container position-relative">
  <div class="tooltip"></div>
  <svg style="height:350px; width:100%; position:relative;">
    <g class="tooltip-area">
      <text class="tooltip-area__text"></text>
    </g>
  </svg>
</div>