.drag-and-drop {
  position: relative;
  display: flex;
  justify-content: center;

  .hovering {
    border: dashed #b9b9b9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
  }
  
  label {
    .file-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
