<div class="all-center" style="height: calc(100vh - 90px);">
  <div class="t-align-c mt-center">
    <h2 class="bold">Email Verification</h2>
    <h4 class="bold mt-5">Your email is not verified!</h4>
    <div class="font-md mb-5">
      If you think this is an error then contact <strong>support@codingblocks.com</strong> and then try again
    </div>
    {{#if verification_sent}}
    <p>Mail has been sent to your account</p>
    <button class="button-solid button-orange" {{action 'reloadUser'}}>
      Try Again
    </button>
    {{else}}
    <button class="button-solid button-orange" {{action 'sendVerifyEmail'}}>
      Send Verifcation Mail
    </button>
    {{/if}}
  </div>
</div>