<div class="img-card p-5 c-author-card">
  <h4 class="pb-2">About the Authors</h4>
  <div class="img-desc align-items-center font-sm pt-4">
    <img class="round s-50x50" src="{{author.photo}}" alt="">
    <div class="description ml-3">
      <h5>{{author.name}}</h5>
      <span class="font-xs">
        <LinkTo
          @route="users.id"
          @model={{author.id}}
          class="orange">
          View Profile
        </LinkTo>
      </span>
    </div>
  </div>
</div>