<div class="tab-nav-underline mb-5">
  <LinkTo @route="contests.college.all.live" class="tab">Live Contests</LinkTo>
  <LinkTo @route="contests.college.all.upcoming" class="tab">Upcoming Contests</LinkTo>
  <LinkTo @route="contests.college.all.archived" class="tab">Archived Contests</LinkTo>
</div>
{{liquid-outlet}}