<div class="row">
  {{#each course.courseContests as |contest|}}
  <div class="col-12 col-md-4">
    <ContestCard 
      @contest={{contest.contest}} 
      @theme="nostalgia-purple">
      {{#link-to 'contests.course.contest' contest.id}}
        <button class="button-solid button-orange mt-3 mb-2">
          Solve Challenge
        </button>
      {{/link-to}}
    </ContestCard>
  </div>
  {{/each}}
</div>