<div class="all-center h-100">
  <div class="t-align-c">
    <img src="/images/contest_orange.png" width="60" alt="">
    <p>
      There are no contests right now<br>
      Stay Tuned !
    </p>
  </div>
</div>