<div class="p-5 bg-gradient-dpink white">
  <div class="row mx-0 justify-content-between align-items-center">
    <div class="col-sm-8 col-12 pl-0">
      <div class="font-mdxl extra-bold">Judgement Delay!</div>
      <div class="card-md bold">
        Our online judge seems to be hung up! Please check submissions tab in a while.
      </div>
    </div>
  </div>
</div>