<div class="container mt-5">
  <div class="c-summary row mb-5 no-gutters justify-content-center t-align-c">
    <div class="col-12">
      <h2 class="mb-2">DAILY CODE BYTES (DCB’s)</h2>
      <div class="grey font-mds mb-2">
        Your daily dose of programming. One question each day, to see what you are made of.
      </div>
    </div>
  </div>
</div>