<div class="pt-5">
  {{#if (not admission_contests.length)}}
    {{contest-view/empty-contest-screen}}
  {{/if}}
  <div class="row">
    {{#each admission_contests as |contest|}}
    <div class="col-12 col-md-4">
      <ContestCard
        @contest={{contest.contest}}>
        {{#link-to
          'contests.contest'
          contest.contest.id
          class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto d-block" }}
          Solve Challenge
        {{/link-to}}
      </ContestCard>
    </div>
    {{/each}}
  </div>
</div>
