<div class="border-card p-5 bg-gradient-orange white mb-5">
  <div class="row mx-0 justify-content-between align-items-center">
    <div class="col-sm-8 col-12 pl-0">
      <div class="font-mdxl extra-bold">Damn! That’s an error!</div>
      <div class="card-md bold">
        You were close! Inspect your code again.
      </div>
    </div>
    <button class="button-solid button-white mt-sm-0 mt-4 orange">Try Again</button>
  </div>
</div>