<div class="mt-4 py-3">
  <h4 class="mb-4">Language Analytics</h4>
  <EmberChart 
    @type="bar"
    @options={{options}}
    @data={{languageData}} />
</div>
<div class="mt-4 p-3">
  <h4 class="mb-4">Submission Summary</h4>
  <EmberChart 
    @type="bar"
    @options={{options}}
    @data={{summaryData}} />
</div>
