{{#if navigation.visible}}
<div class="a-hb">
  <NavBar />
  <SideNav />
  <div class="hb-container">
    <div class="row font-xs bold mx-0">
      <BreadCrumbs
        @outputStyle="foundation"
        @tagName="ul"
        @linkable={{true}}
        @linkClass="orange"
        @crumbClass="px-3" />
    </div>
    {{outlet}}
  </div>
</div>
{{else}}
  {{outlet}}
{{/if}}
