
<h4 class="t-align-c mb-5 mt-md-5 mt-0">Practice Problems</h4>
<div class="row c-card-carousel justify-content-center">
  {{#each practices as |practice|}}
  <div class="col-lg-4 col-md-5 col-sm-8 col-10">
    <PracticeContestCard 
      @practice={{practice}}
      @showProblem=true />
  </div>
  {{/each}}
</div>
