<div class="t-align-c mb-5">
  <h2>CONTESTS</h2>
  <h5 class="bold mt-3">Participate and improve your coding skills</h5>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="College"
      @model="college-contests"
      @logo="/app/images/collegecontest_w.png"
      @description="meta information about college contests. What? Why? When"
      @route="contests.college.all.live"
      @theme="pink" />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="Course"
      @model="course-contests"
      @logo="/app/images/coursecontest_w.png"
      @description="meta information about college contests. What? Why? When"
      @route="contests.course"
      @theme="purple-blue" />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="Admission"
      @model="admission-contests"
      @logo="/app/images/admissioncontest_w.png"
      @description="meta information about college contests. What? Why? When"
      @route="contests.admission"
      @theme="blue" />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="Hiring"
      @model="hiring-contests"
      @logo="/app/images/hiringcontest_w.png"
      @description="meta information about college contests. What? Why? When"
      @route="contests.hiring"
      @theme="lgreen" />
  </div>
</div>
