<div class="t-align-c mb-5">
  <h2>CONTESTS</h2>
  <h5 class="bold mt-3">Participate and improve your coding skills</h5>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="College"
      @model="college-contests"
      @logo="/images/collegecontest_w.png"
      @description="Looking for a college event instead ? Proceed through here to take part in contest being organised by colleges throughout India, get informed about the upcoming ones and solve questions of archived contests."
      @route="contests.college.all.live"
      @theme="pink" />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="Course"
      @model="course-contests"
      @logo="/images/coursecontest_w.png"
      @description="Are you a Coding Blocks champion ? Enter the arena and start solving your favourite assignment questions. New to Coding Blocks ? Worry not you can still take parts in some of these contests. Proceed to know more."
      @route="contests.course"
      @theme="purple-blue" />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="Admission"
      @model="admission-contests"
      @logo="/images/admissioncontest_w.png"
      @description="Experience the APAT (Advanced Program Admission and scholarship test) and CAST (Coders admission and scholarship test) in an all new environment. Take part in archived contests and register for upcoming ones."
      @route="contests.admission"
      @theme="blue" />
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <PublicContestCard
      @title="Hiring"
      @model="hiring-contests"
      @logo="/images/hiringcontest_w.png"
      @description="Tired of not being able to get your dream job ? Participate in these amazing set of contests to get a hold of the type of questions being asked by major companies and take part in hiring contests being organised by companies on our panel."
      @route="contests.hiring"
      @theme="lgreen" />
  </div>
</div>
