<div class="d-flex font-xs bold mb-4 mt-1">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @crumbClass="px-3" />
</div>
<CompetitionContestView
  @contest={{contest}} 
  @onAfterCreate={{onAfterCreate}} 
  @route='competitions.id.contest.attempt'/>
  