<div class="row font-xs bold mx-0">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @linkClass="orange"
    @crumbClass="px-3" />
</div>
<CompetitionContestView
  @contest={{contest}} 
  @onAfterCreate={{onAfterCreate}} 
  @route='competitions.id.contest.attempt'/>
  