<div class="col-md-11 col-12 offset-md-1">
  <FullScreenProblemView
    class="row no-gutters overflow-hidden code-window__code-area"
    @problem={{problem}}
    @content={{content}}
    @contest={{contest}} />
</div>
