<div class="border-card p-5">
	<h4>Daily Goal</h4>
	<div class="font-xs">Complete daily goal to count it as streak</div>
	<progress value="{{topSubmission.score}}" max="100" class="mt-4 mb-2 w-90"></progress>
	<h6 class="bold">{{topSubmission.score}}/100 Points Scored</h6>
</div>