<div class="row c-topnav py-3 justify-content-between">
  <div class="col-6 offset-1">
    <ul>
      <li class="top-nav-option px-3 mt-3 d-none d-md-block active">
        <a href="#online-courses">
          <h6>Online Courses</h6>
        </a>
      </li>
      <li class="top-nav-option px-3 mt-3 d-none d-md-block">
        <a href="#classroom-courses">
          <h6>Classroom Courses</h6>
        </a>
      </li>
      <li class="top-nav-option px-3 mt-3 d-none d-md-block">
        <a href="#hiring-blocks">
          <h6>Hiring Blocks</h6>
        </a>
      </li>
    </ul>
  </div>
  <div class="align-items-center">
    <ul class="right-nav">
      <li class="top-nav-option px-3 pt-3">
        <LinkTo @route="help">
          <i class="far fa-question-circle fa-lg"></i>
        </LinkTo>
      </li>
      <li class="top-nav-option hoverable px-3">
        {{#if session.isAuthenticated}}
          <div class="img-desc align-items-center font-sm pt-2">
            <img class="round s-30x30" src="{{user.photo}}" alt="Profile Pic">
            <div class="description ml-3">
              Hi, {{user.name}}
            </div>
          </div>
          <div class="pop-up border-card p-3">
            <ul>
              <li>
                <LinkTo @route='users.id' @model={{user.id}}>
                  Profile
                </LinkTo>
              </li>
              <div class="divider-h my-3"></div>
              <li>
                <LinkTo @route='logout'>
                  Logout
                </LinkTo>
              </li>
            </ul>
          </div>
        {{else}}
        <LoginButton />
        {{/if}}
      </li>
    </ul>
  </div>
</div>
