<div class="row">
  {{#each college_contests as |college_contest|}}
  <div class="col-12 col-md-4">
    <ContestCard 
      @contest={{college_contest.contest}}
      @showTimer=true>
        <RegisterButton 
          @contestTypeModel={{college_contest}} 
          @route="contests.college.contest" />
    </ContestCard>
  </div>
  {{/each}}
</div>