<div class="t-align-c">
  <h2 class="mb-2">PRACTICE PROBLEMS</h2>
  <div class="font-md bold">
    Take these challenges and improve your problem solving skills
  </div>
</div>

<div class="row">
  {{#each practices as |practice|}}
  <div class="col-12 col-md-4">
    <PracticeContestCard @practice={{practice}} />
  </div>
  {{/each}}
</div>
