<div class="p-5 bg-gradient-neon white">
  <div class="row mx-0 justify-content-between align-items-center">
    <div class="col-sm-8 col-12 pl-0">
      <div class="font-mdxl extra-bold">Congratulations!</div>
      <div class="card-md bold">
        You solved this challenge. Share it with your friends &amp; challenge them to solve it!
      </div>
    </div>
  </div>
</div>
