<div class="d-flex all-center screen-height mt-neg-70">
  <div class="col-lg-5 col-md-7 col-10">
    <ContestFeedbackCard
      @onSkip={{action 'onSkip'}}
      @afterSave={{action 'afterSave'}}
      @contest={{contest}}
      @feedback={{feedback}} />
  </div>
</div>
