<div class="d-flex font-xs bold mb-4 mt-1">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @crumbClass="px-3" />
  </div>
<div class="row my-4">
  <div class="col-12">
    <ContentHeader 
      @content={{content}}
      @contest={{contest}} />
  </div>
</div>

{{outlet}}
