<div class="row no-gutters flex-1 w-100">
  <div class="col-md-11 col-12 offset-md-1">
      <FullScreenProjectView 
        @contest={{contest}} 
        @content={{content}}
        @project={{project}} />
  </div>
</div>
